body{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 25px;
    text-align: center;
}

#box-container{
    width: 536px;
    height: 402px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

}
 #timer{
    margin: 0;
    padding: 0;
    text-decoration: line-through;
}
 .score{
     font-size: 20px;
 }

.box{
    width: 130px;
    height: 130px;
    border: #fff 2px dashed;
}